body {
	font-family: sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}
a {
	transition: .3s ease;
	text-decoration: none;
}
h1,h2,h3 {
	line-height: 1.2;
}
h2 {
	font-size: 48px;
}
.container {
	max-width: 1170px;
	margin: 0 auto;
	padding: 0 15px;
}
.header {
	height: 100vh;
    background: url(/img/bg.jpg) center center no-repeat;
    background-size: cover;
}
.header-wrap {
	display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5vh;
    height: 44px;
}
.menu {
	display: flex;
}
.menu-item a {
	display: block;
    padding: 10px 22.5px;
    font-size: 16px;
    color: #f5f5f5;
    font-weight: 700;
}
.menu-item a:hover {
	color: #ffa000;
}
.header .intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 28vh;
}
.header .intro h1 {
    margin-bottom: 30px;
    font-size: 52px;
    font-weight: 400;
    line-height: 48px;
    color: #f5f5f5;
}
.header .intro span {
    width: 80%;
    text-align: center;
    color: #f5f5f5;
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
}
.btn-wrapper .btn {
    margin-right: 20px;
}
.btn-orange {
    background-color: #ffa000;
    color: #fff;
    border: 2px solid #ffa000;
}
.btn-wrapper {
    margin-top: 40px;
}

.btn, .btn span, .btn-wrapper {
    display: inline-block;
}
.btn {
    min-width: 133px;
    padding: 13px 20px;
    color: #fff;
    border-radius: 200px;
    letter-spacing: .6px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
}
.btn, h5 {
    font-weight: 700;
    font-size: 14px;
    font-family: Poppins,sans-serif;
}
.btn-orange:hover {
    background-color: #fff;
    border: 2px solid #fff;
    color: #ffa000;
}
.demos {
    padding: 110px 0 70px;
    background-color: #f5f5f5;
}
.hp-text {
	margin: 0 auto;
	text-align: center;
	width: 810px;
}
.hp-text h2 {
	margin-bottom: 35px;
}
.hp-text p {
    line-height: 36px;
}
p {
    margin-bottom: 35px;
}
.demos .grid-list {
	display: flex; 
	flex-wrap: wrap;
	justify-content: space-between;
}
.demos .grid-list .grid-item {
	display: block;
    width: 30%;
    margin-bottom: 60px;
    position: relative;
}
.demos .grid-list .list-img {
	margin-bottom: 35px;
	max-height: 500px;
	overflow: hidden;
	transition: .3s ease;
	border-radius: 7px;
}
.demos .grid-list .grid-item:hover .list-img {
	transform: translateY(-10px);
}
.demos .grid-list .grid-item .list-img img {
	transition: .5s ease;
}
.demos .grid-list .grid-item:hover .list-img img {
	transform: translateY(-80px);
}
.des {
	text-align: center;
	color: #222;
	font-weight:600;
}
.booking {
	padding: 110px 0 110px;
}